**/.aws
**/.cache
**/.DS_Store
**/.env
**/.git
**/.gitignore
**/.idea
**/.mypy_cache
**/.pytest_cache
**/.ssh
**/.venv
**/.vscode
**/__pycache__
**/coverage
**/env
**/venv
.github
.gitlab*
docker-compose.yml
Dockerfile
README.md
